.card-subtitle {
    text-transform: lowercase;
    word-spacing: 15px;
}

.img {
    height: 240px;
    width: 180px;
    position: center;
}

.lst {
    overflow: auto;
    white-space: nowrap;
}

.itm {
    display: inline-block;
    color: black;
    text-align: center;
}

.itm:hover {
    background-color: #777;
}