.card-subtitle {
    text-transform: lowercase;
    word-spacing: 15px;
}

.img {
    height: 200px;
    width: 150px;
}
.lst {
    overflow: auto;
    white-space: nowrap;
}
.itm {
    display: inline-block;
    color: black;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
}
.itm:hover {
    background-color: #777;
}